*{
    box-sizing: border-box;
    font-family: "Noto Sans";
}
.body{
    background-image: url(../img/pexels-victor-freitas-791763.jpg);

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
}
.container{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "principal principal principal"
    "footer footer footer"
    ;
}
.imagen__nav{
    margin-left: 10px;
    width: 60px;
    height: 60px;
}
.navbar ul{
list-style-type: none;
display: flex;
gap: 10px;
margin-right: 10px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.ayuda{
    color: white;
    text-decoration: none;
}
.main{
    height: 600px;
    text-align: center;
    color: blanchedalmond;
    grid-area: "principal";
}
.header{
    grid-area: "header";
}
.titulo__principal{
    color: white;
    text-align: center;
    align-items: center;
}
.footer {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: "footer";
}
.footer ul{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    text-decoration: none;
    gap: 50px;
    list-style-type: none;
    text-decoration: none;
}
.soporte{
    text-decoration: none;
    color: white;
}

.sedes{
    background-color: rgb(151, 150, 150);
}
.titulo__sedes{
    text-align: center;
    color: white;
}
.mapa{
    width: 100%;
    height: 600px;
}

.titulo__coach{
    text-align: center;
}

.coachs{
    color:white;
    text-align: center;
    
}
.grid coachs{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
    "main main main";
} 

.planes__imagen{
    width: 300px;
    height: 300px;
    
}
.planes{
    background-color: gray;
    text-align: center;
}

.titulo__planes{
    color: white;
    text-align: center;
    
}

.titulo__programas{
    color: white;
    text-align: center;
}

.subtitulo__programas{
    color: white;
    text-align: center;
    text-decoration:underline
}
.planes__imagen{
    text-align: center;
}
.imagen__programas{
width: 300px;
height: 300px;
}
.programas{
    text-align: center;
}

.iniciarSesion{
    background-color: gray;
    text-align: center;
}

@media (max-width:567px) {
    .navbar ul li a{
        font-size: 14px;
    }
}

@media screen  {
    
    
}
