*{
    box-sizing: border-box;
    font-family: "Noto Sans";
} 

@import "footers.scss";
@import "main.scss";
@import "navbar.scss";
@import "media.scss";


.body{
    background-image: url(../img/pexels-victor-freitas-791763.jpg);

}

